[user]
	email = arthur393@gmail.com
	name = Arthur Henrique
[core]
	editor = vim
[pull]
	rebase = true
[alias]
    resetorigin = !git fetch origin && git reset --hard origin/master && git clean -f -d
    resetupstream = !git fetch upstream && git reset --hard upstream/master && git clean -f -d
